<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= render "facelauncher_instance/application/facebook_init" -%>

  <%= csrf_meta_tags %>
</head>
<body>
  <textarea>
    <%= @program.to_yaml %>
  </textarea>
  <textarea>
    <%= @photo_albums.to_yaml %>
  </textarea>
  <textarea>
    <%= @photos.to_yaml %>
  </textarea>

  <% @photo_albums[0]["photos"].each do |photo| %>
    <%= cl_image_tag(photo["file"]["filename"], crop: :fit, :width => 350, :height => 350) %>
  <% end %>
<%= yield %>

</body>
</html>
